<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473198433852-uc3656mm0maf9m932rord3pdmjfeuasj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473198433852-uc3656mm0maf9m932rord3pdmjfeuasj</string>
	<key>API_KEY</key>
	<string>AIzaSyCWVX9pHuZM2an1j4U2e10dqLN1Gh-QSQM</string>
	<key>GCM_SENDER_ID</key>
	<string>473198433852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mulsehouse</string>
	<key>PROJECT_ID</key>
	<string>mulsehouse</string>
	<key>STORAGE_BUCKET</key>
	<string>mulsehouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473198433852:ios:05ebf15e5bda069f77d539</string>
</dict>
</plist>